Project/debug
Project/release
build-PandemoniumBingo-Desktop-Debug
build-PandemoniumBingo-Desktop-Release
build-PandemoniumBingo-Desktop-Profile
build-PandemoniumBingo-Desktop-Qt6
Project/PandemoniumBingo.pro.user
*.user
